<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fretless.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CC1214D1E5E1A2300D22345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC121611E5E1A2300D22345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC1216C1E5E1A2400D22345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
